<div id="animacion-imprimir" class="cube-wrapper">
  <div class="cube-folding">
    <span class="leaf1"></span>
    <span class="leaf2"></span>
    <span class="leaf3"></span>
    <span class="leaf4"></span>
  </div>
  <span class="loading" data-name="Loading">Imprimiendo...</span>  
</div>



<!-- Progress bar HTML -->
<!-- <div class="progress progress-striped active">
    <div class="progress-bar"></div>
</div> -->

<!-- <print id="imprimir-simulacion"></print>		  -->
<div class="progress progress-striped active">
	<div id="imprimiendo" class="progress-bar" print></div>
</div>
<button id="imprimir" class="boton boton-imprimir" ng-click="$eventos.verEventosProximos()">Regresar</button>


