<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/app/styles/SignIn.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Signup Form (DailyUI #001)</title>
    
     

  
</head>

<body>
<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

<main>
  <figure>
    <picture>

      <img       src="/images/logo.jpg"
                 alt="DCA Academia de Baile" />
    </picture>
  </figure>
  <div class="headline">
    <h2 class="text-headline">DCA</h2>
    <h3 class="text-subheadline">Academia de Baile</h2>
  </div>
  <form class="form-login">
    <span>
      <!--style="display: none;"-->
      <label for="username" id="lbl_username" class="text-small-uppercase">Username</label>
      <input class="text-body" id="username" name="usuario" type="text">
    </span>
    <span>
      <label for="pasword" id="lbl_pasword" class="text-small-uppercase">Password</label>
      <input class="text-body" id="pasword" name="pass" type="password"><!-- required>-->
    </span>

    <!-- <a href="http://localhost/Interfaces_2/Signup/conection.php"> -->
      <input class="text-small-uppercase" id="submit" type="submit" value="Inciar">
      <!--da click-->
   <!-- </a>-->
  </form>
</main>
    <script src="/scripts/sing_up.js"></script>

</body>
</html>
