<div id="wrapper">
  <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
  <div class="menu">
    <label class="go-back margen-arriba-disciplinas" for="menu" ng-click="$dis.verDisciplinas()"><span>Toggle</span></label>
  </div>
</div> <!-- #wrapper-->

<svg id="icons" xmlns="http://www.w3.org/2000/svg">  
  <symbol id="icon-arrow" viewBox="0 0 476.213 476.213" >
  <polygon fill="inherit" points="347.5,324.393 253.353,418.541 253.353,0 223.353,0 223.353,419.033 128.713,324.393 107.5,345.607 
  238.107,476.213 368.713,345.606 "/>
  </symbol>
</svg>

<div class="row">
  <br><br><br>
  <div class="slider-content container-single-discipline">
    <div class="header-wrapper">
      <div class="header">
        <div class="logo-wrapper">
          <div class="logo">DCA</div>
        </div>
        <div class="shop-wrapper"></div>
      </div>
    </div>
    
    <div class="number-wrapper">
      <div class="number-count">
        <div class="number">01</div>
      </div>
    </div>
    
    <div class="nav-wrapper">
      <div class="nav-arrows">
        <div class="nav-up">
          <!-- <button src="images/go-back2.png" id="arrow-up"></button> -->
        <image src="images/go-back-arrow.png" class="flecha-arriba" id="arrow-up"></image>

             <!-- <svg id="arrow-up">
              <use xlink:href="#icon-arrow"></use>
            </svg> -->
         </div>
        <!-- <div class="nav-line"></div> -->
        <br><br><br><br>
        <div class="nav-down">
        <!-- <button class ="btn" id="arrow-up">Siguiente</button> -->
        <!-- <button src="images/go-back2.png" id="arrow-up"></button> -->
        <image src="images/go-back-arrow.png" id="arrow-down"></image>
           <!-- <svg id="arrow-down">
              <use xlink:href="#icon-arrow"></use>
            </svg> -->
        </div>
      </div>
    </div>
    
    <div class="slider-wrapper">
      <div class="slider-container">                       
        <div class="slide active" data-order="1">
            <div class="slide-content txt">
              <div class="txt-wrapper">
                <h2>Hip hop</h2>
                <span class="subtitle">Lo importante es este momento en movimiento. Haz el momento importante.</span>
                <p class="excerpt"><span>"Martha Graham"</span><br><br>El hip hop es un género compuesto por un amplio conglomerado de formas artísticas, originadas dentro de una subcultura marginal en el Sur del Bronx y Harlem, en la ciudad de Nueva York.</p>
              </div>
            </div>
            <div class="slide-content img">
              <img src="images/disciplines/hip-hop/1.png">
            </div>
          </div>  
        <div class="slide" data-order="2">
            <div class="slide-content txt">
              <div class="txt-wrapper">
                <h2><span>Horario</h2>
                 <p class="excerpt">Martes de 6:00 - 8:00pm <br>Jueves de 6:00 - 8:00pm</p>
                 <!-- <button>Shop now</button> -->
              </div>
            </div>
            <div class="slide-content img">
              <img src="images/disciplines/hip-hop/2.png">
            </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="scripts/disciplines.effects.js"/>