<audio id="eventos" src="audio/eventos.wav">
  <p>Tu navegador no implementa el elemento audio</p>
</audio>

<div class="row">
  <div class="col-md-2 col-sm-2">
    <div id="wrapper">
      <!-- <input type="checkbox" id="menu" name="menu" class="menu-checkbox"> -->
      <div class="menu">
        <label class="go-back margen-arriba" for="menu" ng-click="$eventos.verMenu()"><span>Toggle</span></label>
      </div>
    </div> <!-- #wrapper-->

    <button type="button" class="boton-audio boton-audio-menu" onclick="Audio('eventos','Volume.svg','Volume-off.svg')">
      <img id="sound_img" src="images/Volume-off.svg" alt=""> 
    </button>
    <button class="boton-eventos boton-costado pasados" ng-click="$eventos.verEventosProximos()">Próximos</button>
  </div>

  <div class="col-md-8 col-sm-8 events-container">
    <h3 id="h3-cards" class="h3-marks">Eventos próximos</h3>
    <div class="gallery2">
      <div class="img-w">
        <img src="images/events/pasados/16.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/2.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/3.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/4.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/5.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/6.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/7.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/8.jpg" alt="" />
      </div>
      <div class="img-w">
        <img src="images/events/pasados/9.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="scripts/events.effects.js"></script>
<div class="col-md-2 col-sm-2">
  
</div>