<audio src="audio/eventos.wav" autoplay>
  <p>Tu navegador no implementa el elemento audio</p>
</audio>

<div id="wrapper">
  <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
  <div class="menu">
    <label class="menu-toggle" for="menu"><span>Toggle</span></label>
    <ul>
      <li>
        <a href="#">Menu</a>
      </li>
      <li>
      	<a ng-click="">Próximos</a>
      </li>
      <li>
        <a ng-click="$eventos.imprimir()">Imprimir</a>
      </li>
    </ul>
  </div>
</div> <!-- #wrapper-->

<div class="container mycontainer">
    <h3 id="h3-cards" class="h3-marks">Todos los eventos</h3>

    <div class="card-columns one-ui-kit-example-container">
        <!-- <div class="card text-xs-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div> -->
        
        <div class="card card-inverse">
          <img class="card-img" style="width:100%;" src="images/events/pasados/evento4.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <br>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <cite title="Source Title">"Una gran escuela con un excelente método"</cite>
              
              <footer>Rico Hernández, Festival de fin de cursos 2016</footer>
            </blockquote>
            <div class="card-block">
              <!-- <button class="btn btn-danger-rounded-outline">Check out this btn</button> -->
            </div>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" style="width:100%;" src="images/events/pasados/evento11.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Festival de fin de cursos 2016</h4>
            <p class="card-text">Ve las principales fotos de nuestro festival de fin de cursos 2016.</p>
            <a href="#" class="btn btn-info btn-block">Galería</a>
          </div>
        </div>

        <div class="card card-inverse" ng-click="$eventos.verGaleriaEventos()">
          <img class="card-img" style="width:100%;" src="images/events/pasados/evento7.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Boton</button> -->
            <!-- <a href="#" class="btn btn-info btn-block">Galería</a> -->
          </div>
        </div>

        <div class="card card-inverse">
          <img class="card-img" style="width:100%;" src="images/events/pasados/evento3.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div><!-- /card-columns -->
  </div> <!-- /container for CARDS -->
