<!-- <div class="container"> -->
	<div ng-controller="MainmenuCtrl as $ctrl">
		<input type="image" src="images/regresar2.png" alt="Botón :D" name="regresar" ng-click="$ctrl.regresar()">	
	</div>
	<div class="info">
		<!-- <img src="images/ballet.png"> -->
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:800px;height:456px;overflow:hidden;visibility:hidden;background-color:#24262e;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:800px;height:356px;overflow:hidden;">
            <div>
                <img data-u="image" src="images/galeria1.jpg" />
                <img data-u="thumb" src="images/galeria1.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria2.jpg" />
                <img data-u="thumb" src="images/galeria2.jpg" />
            </div>
            <a data-u="any" href="http://www.jssor.com" style="display:none">Image Gallery</a>
            <div>
                <img data-u="image" src="images/galeria3.jpg" />
                <img data-u="thumb" src="images/galeria3.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria4.jpg" />
                <img data-u="thumb" src="images/galeria4.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria5.jpg" />
                <img data-u="thumb" src="images/galeria5.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria6.jpg" />
                <img data-u="thumb" src="images/galeria6.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria7.jpg" />
                <img data-u="thumb" src="images/galeria7.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria8.jpg" />
                <img data-u="thumb" src="images/galeria8.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria9.jpg" />
                <img data-u="thumb" src="images/galeria9.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria10.jpg" />
                <img data-u="thumb" src="images/galeria10.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria11.jpg" />
                <img data-u="thumb" src="images/galeria11.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria12.jpg" />
                <img data-u="thumb" src="images/galeria12.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria13.jpg" />
                <img data-u="thumb" src="images/galeria13.jpg" />
            </div>
            <div>
                <img data-u="image" src="images/galeria14.jpg" />
                <img data-u="thumb" src="images/galeria14.jpg" />
            </div>
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
        <jssor id="galeria"></jssor>
    </div>
</div>

