<div id="wrapper">
  <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
  <div class="menu">
    <label class="go-back" for="menu" ng-click="$gallery.verGaleria()"></label>
  </div>
</div> <!-- #wrapper-->

<div class="mycontainer">
	<div class="gallery2">
	    <div class="img-w">
	    	<img src="images/gallery/ballet/2.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/3.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/4.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/5.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/6.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/7.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/8.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/9.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/ballet/10.jpg" alt="" />
	    </div>
	    <script type="text/javascript" src="scripts/gallery.effects.js"></script>
	</div>
</div>
