<div id="wrapper">
  <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
  <div class="menu">
    <label class="go-back" for="menu" ng-click="$gallery.verGaleria()"><span>Toggle</span></label>
  </div>
</div> <!-- #wrapper-->

<div class="mycontainer">
	<div class="gallery2">
	    <div class="img-w">
	    	<img src="images/gallery/jazz/2.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/3.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/4.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/5.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/6.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/7.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/8.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/9.jpg" alt="" />
	    </div>
	    <div class="img-w">
	    	<img src="images/gallery/jazz/10.jpg" alt="" />
	    </div>
	    <script type="text/javascript">
	    	$(function() {
			  $(".img-w").each(function() {
			    $(this).wrap("<div class='img-c'></div>")
			    let imgSrc = $(this).find("img").attr("src");
			     $(this).css('background-image', 'url(' + imgSrc + ')');
			  })            
			  
			  $(".img-c").click(function() {
			    let w = $(this).outerWidth()
			    let h = $(this).outerHeight()
			    let x = $(this).offset().left
			    let y = $(this).offset().top
			    
			    
			    $(".active").not($(this)).remove()
			    let copy = $(this).clone();
			    copy.insertAfter($(this)).height(h).width(w).delay(500).addClass("active")
			    $(".active").css('top', y - 8);
			    $(".active").css('left', x - 8);
			    
			    setTimeout(function() {
			      copy.addClass("positioned")
			    }, 0)    
			  })  
			})

			$(document).on("click", ".img-c.active", function() {
			  let copy = $(this)
			  copy.removeClass("positioned active").addClass("postactive")
			  setTimeout(function() {
			    copy.remove();
			  }, 500)
			})
	    </script>
	</div>
</div>
