<div id="wrapper">
  <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
  <div class="menu">
    <label class="menu-toggle" for="menu"><span>Toggle</span></label>
    <ul>
      <li>
        <a href="#">Menu</a>
      </li>
    </ul>
  </div>
</div> <!-- #wrapper-->

<div class="mycontainer container">
	<div class="entries">
	  <div class="entry">
	    <div class="title">2011</div>
	    <div class="body">
	      <p>La empresa es fundada por Paulina Acosta Carvajal</p>
	    </div>
	  </div>
	  <div class="entry">
	    <div class="title">2012</div>
	    <div class="body">
	      <p>Se realiza el primer festival de fin de cursos</p>
	    </div>
	  </div>
	  <div class="entry">
	    <div class="title big">2013</div>
	    <div class="body">
	      <p>La escuela asiste a la presentación regional de danza</p>
	    </div>
	  </div>
	  <div class="entry">
	    <div class="title">2014</div>
	    <div class="body">
	      <p>Voluptatibus veniam ea reprehenderit atque. Reiciendis non laborum adipisci ipsa pariatur omnis. Sed ipsam repudiandae velit. Omnis libero nostrum aperiam nemo dolor ea eos eius. Esse a non itaque quidem.</p>
	    </div>
	  </div>
	  <div class="entry">
	    <div class="title">2015</div>
	    <div class="body">
	      <p>VAdipisci totam omnis cum et suscipit excepturi et excepturi. Inventore sequi sit ut aliquid. Modi aut dolores dignissimos.</p>
	      <p>Delectus facere officia consequuntur molestias deserunt illo. Placeat laudantium beatae natus excepturi ab nihil voluptates.</p>
	    </div>
	  </div>
	  <div class="entry">
	    <div class="title big">2016</div>
	    <div class="body">
	      <p>Impedit dolorem commodi explicabo fugit aut alias voluptatem. Magnam earum rerum quae dicta quibusdam aliquam ut.</p>
	    </div>
	  </div>
	  <div class="entry">
	    <div class="title">2017</div>
	    <div class="body">
	      <p>Qui facere eos aut suscipit doloremque quos...</p>
	    </div>
	  </div>
	</div>
</div>