<div class="container">
	<div ng-controller="MainmenuCtrl as $ctrl">
		<input type="image" src="images/regresar2.png" alt="Botón :D" name="regresar" ng-click="$ctrl.regresar()">	
	</div>
	<div class="info">
		<h1>Historia de la academia DCA</h1>
		<p>La empresa fue fundada por Luisa Cristina Aranda Soto y Paulina Acosta Carvajal en el año 2011, ambas egresadas de la Universidad Autónoma de Aguascalientes con títulos en turismo y mercadotecnia respectivamente.
La empresa fue fundada para cubrir la necesidad que se había detectado previamente en los jóvenes que viven en los fraccionamientos circundantes al colegio Esperanza de poder expresarse a través de una de las bellas artes: la danza.

La empresa actualmente cuenta con aproximadamente 100 alumnos en las diferentes modalidades de jazz, danza aérea, hip-hop, yoga, ballet y contemporáneo. 
La necesidad de generar este proyecto es para que la empresa incremente su matrícula y pueda dar a conocer de que trata la escuela, motivando a los aspirantes con fotos de los estudiantes, eventos en los que participa la escuela, información de los profesores que imparten las diversas disciplinas, así como las instalaciones de la escuela.</p>
	</div>
	
</div>



