<div class="container">
	<div ng-controller="MainmenuCtrl as $ctrl">
		<input type="image" src="images/regresar2.png" alt="Botón :D" name="regresar" ng-click="$ctrl.regresar()">	
	</div>
	<div class="info">
	<!-- <video width="520" height="440" controls>
  		<source src="videos/historia1.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>  -->
    <div id="jssor_1" class="jssor_1">
        <!-- Loading Screen -->
        <div data-u="loading" class="loading">
            <div class="loadingi1"></div>
            <div class="loadingi2"></div>
        </div>
        <div data-u="slides" class="slides">
            <div>
                <div data-u="image">
                	<p>La empresa fue fundada por Luisa Cristina Aranda Soto y Paulina Acosta Carvajal en el año 2011, ambas egresadas de la Universidad Autónoma de Aguascalientes con títulos en turismo y mercadotecnia respectivamente.
La empresa fue fundada para cubrir la necesidad que se había detectado previamente en los jóvenes que viven en los fraccionamientos circundantes al colegio Esperanza de poder expresarse a través de una de las bellas artes: la danza.

La empresa actualmente cuenta con aproximadamente 100 alumnos en las diferentes modalidades de jazz, danza aérea, hip-hop, yoga, ballet y contemporáneo. 
La necesidad de generar este proyecto es para que la empresa incremente su matrícula y pueda dar a conocer de que trata la escuela, motivando a los aspirantes con fotos de los estudiantes, eventos en los que participa la escuela, información de los profesores que imparten las diversas disciplinas, así como las instalaciones de la escuela.</p>
                </div>
                <div data-u="thumb">
                	<h4>Historia</h4>
                </div>
            </div>
            <!-- <a data-u="any" href="http://www.jssor.com" style="display:none">Image Gallery</a> -->
            <div>
                <div data-u="image">
                	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div data-u="thumb">
                	<h4>Al respecto</h4>
                </div>
            </div>
            <div>
            	
                <div data-u="image">
                	 <video width="520" height="440" controls>
  						<source src="videos/historia1.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video> 
                </div>
                <div data-u="thumb">
                	<h4>Flashmob</h4>
                </div>
            </div>
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
        <jssor id="historia"></jssor>	
    </div>
</div>
</div>