<script type="text/javascrpit" src="scripts/conectarbd.js"></script>

<div class="row">
  <div class="col-md-2">
    <div id="wrapper">
      <div class="menu">
        <label class="go-back margen-arriba" for="menu" ng-click="$maestros.verMenuSesiones()"><span>Toggle</span></label>
      </div>
    </div> <!-- #wrapper-->
  </div>

  <!--Login-->
  <div class="col-md-10">
    <main>
      <figure>
        <picture>
          <img class="img" src="images/logo.jpg" alt="DCA Academia de Baile" />
        </picture>
      </figure>
      <div class="headline">
        <h2 class="text-headline">DCA</h2>
        <h3 class="text-subheadline">Academia de Baile</h2>
      </div>
      <form name="$maestros.form">
        <span>
          <!--style="display: none;"-->
          <label for="username" id="lbl_username" class="text-small-uppercase">Nombre de usuario</label>
          <input class="text-body" id="username" name="username" type="text" ng-model="$maestros.nomusr">
        </span>
        <span>
          <!--style="display: none;"-->
          <label for="username" id="lbl_username" class="text-small-uppercase">Contraseña</label>
          <input class="text-body" id="username" name="username" type="password" ng-model="$maestros.passwd">
        </span>
        <!--<span>
          <label for="pasword" id="lbl_pasword" class="text-small-uppercase">Password</label>
          <input class="text-body" id="pasword" name="pasword" type="password" required>
        </span>
        <span>
          <label for="email" class="text-small-uppercase">Email</label>
          <input class="text-body" id="email" name="email" type="email"required>
        </span>
        <span>
          <label for="name" class="text-small-uppercase">Nombre</label>
          <input class="text-body" id="name" name="name" type="text" required>
        </span>
        <span>
          <label for="f_last_name" class="text-small-uppercase">Apellido Paterno</label>
          <input class="text-body" id="f_last_name" name="f_last_name" type="text" required>
        </span>
        <span>
          <label for="s_last_name" class="text-small-uppercase">Apellido Materno</label>
          <input class="text-body" id="s_last_name" name="s_last_name" type="text" required>
        </span>-->
        <button class="text-small-uppercase" id="submit" ng-click="$maestros.validarLogin()">Iniciar a danzar</button>
        <!-- <a href="conection.php">
          <input class="text-small-uppercase" id="submit" type="submit" value="Inciar a Danzar">
          da click
        </a> -->
      </form>
    </main>
  
    <script src="scripts/signup.js"></script>
  </div>

  <div id="kb-container" style="display:none;">
    <ul id="keyboard">
      <li class="symbol"><span class="off">`</span><span class="on">~</span></li>
      <li class="symbol"><span class="off">1</span><span class="on">!</span></li>
      <li class="symbol"><span class="off">2</span><span class="on">@</span></li>
      <li class="symbol"><span class="off">3</span><span class="on">#</span></li>
      <li class="symbol"><span class="off">4</span><span class="on">$</span></li>
      <li class="symbol"><span class="off">5</span><span class="on">%</span></li>
      <li class="symbol"><span class="off">6</span><span class="on">^</span></li>
      <li class="symbol"><span class="off">7</span><span class="on">&amp;</span></li>
      <li class="symbol"><span class="off">8</span><span class="on">*</span></li>
      <li class="symbol"><span class="off">9</span><span class="on">(</span></li>
      <li class="symbol"><span class="off">0</span><span class="on">)</span></li>
      <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
      <li class="symbol"><span class="off">=</span><span class="on">+</span></li>
      <li class="delete lastitem">delete</li>
      <li class="tab">tab</li>
      <li class="letter">q</li>
      <li class="letter">w</li>
      <li class="letter">e</li>
      <li class="letter">r</li>
      <li class="letter">t</li>
      <li class="letter">y</li>
      <li class="letter">u</li>
      <li class="letter">i</li>
      <li class="letter">o</li>
      <li class="letter">p</li>
      <li class="symbol"><span class="off">[</span><span class="on">{</span></li>
      <li class="symbol"><span class="off">]</span><span class="on">}</span></li>
      <li class="symbol lastitem"><span class="off">\</span><span class="on">|</span></li>
      <li class="capslock">caps lock</li>
      <li class="letter">a</li>
      <li class="letter">s</li>
      <li class="letter">d</li>
      <li class="letter">f</li>
      <li class="letter">g</li>
      <li class="letter">h</li>
      <li class="letter">j</li>
      <li class="letter">k</li>
      <li class="letter">l</li>
      <li class="symbol"><span class="off">;</span><span class="on">:</span></li>
      <li class="symbol"><span class="off">'</span><span class="on">&quot;</span></li>
      <li class="return lastitem">return</li>
      <li class="left-shift">shift</li>
      <li class="letter">z</li>
      <li class="letter">x</li>
      <li class="letter">c</li>
      <li class="letter">v</li>
      <li class="letter">b</li>
      <li class="letter">n</li>
      <li class="letter">m</li>
      <li class="symbol"><span class="off">,</span><span class="on">&lt;</span></li>
      <li class="symbol"><span class="off">.</span><span class="on">&gt;</span></li>
      <li class="symbol"><span class="off">/</span><span class="on">?</span></li>
      <li class="right-shift lastitem">shift</li>
      <li class="space lastitem">&nbsp;</li>
    </ul>
  </div>
  <!-- <script type="text/javascript" src="scripts/consultarbd.js"></script> -->
</div>