<audio id="disciplinas" src="audio/disciplinas.wav">
  <p>Tu navegador no implementa el elemento audio</p>
</audio>

<div class="row">
  <div class="col-md-2 col-sm-2">
    <div id="wrapper">
      <!-- <input type="checkbox" id="menu" name="menu" class="menu-checkbox"> -->
      <div class="menu">
        <label class="go-back margen-arriba" for="menu" ng-click="$maestros.verMenu()"><span>Toggle</span></label>
      </div>
    </div> <!-- #wrapper-->

    <button type="button" class="boton-audio boton-audio-menu" onclick="Audio('disciplinas','Volume.svg','Volume-off.svg')">
      <img id="sound_img" src="images/Volume-off.svg" alt=""> 
    </button>
    <button class="boton" ng-click="$maestros.login()">Ingresar</button>

    <p id="ayudae" class="texto-ayuda">Pulse la imagen deseada para ver los detalles de la disciplina</p>
  </div>
<!-- <div class="row container"> -->
  <div class="col-md-5 col-sm-5">
    <div class="discipline-image-card">
      <img ng-click="$maestros.verAereo()" class="discipline-image" src="images/disciplines/aereo.jpg">
      <div>
        <h2>Danza Aérea</h2>
        <p>Pulsar para leer la información de la disciplina</p>
      </div>
    </div>
    <div class="discipline-image-card">
      <img ng-click="$maestros.verBallet()" class="discipline-image" src="images/disciplines/ballet.jpg">
      <div>
        <h2>Ballet</h2>
        <p>Pulsar para leer la información de la disciplina</p>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-sm-5">
    <div class="discipline-image-card">
      <img ng-click="$maestros.verHiphop()" class="discipline-image" src="images/disciplines/hip-hop.jpg">
      <div>
        <h2>Hip hop</h2>
        <p>Pulsar para leer la información de la disciplina</p>
      </div>
    </div>
    <div class="discipline-image-card">
      <img ng-click="$maestros.verJazz()" class="discipline-image" src="images/disciplines/jazz.jpg">
      <div>
        <h2>Jazz</h2>
        <p>Pulsar para leer la información de la disciplina</p>
      </div>
    </div>
  </div>
<!-- </div> -->
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="discipline-image-card single-discipline">
      <img ng-click="$maestros.verContemporaneo()" class="discipline-image" src="images/disciplines/contemporaneo.jpg">
      <div>
        <h2>Contemporáneo</h2>
        <p>Pulsar para leer la información de la disciplina</p>
      </div>
    </div>
  </div>
</div>