<div class="row">
	<div class="col-md-2 col-sm-2">
	    <div id="wrapper">
	      <!-- <input type="checkbox" id="menu" name="menu" class="menu-checkbox"> -->
	      <div class="menu">
	        <label class="go-back margen-arriba" for="menu" ng-click="$maestros.verMaestros()"><span>Toggle</span></label>
	      </div>
	    </div> <!-- #wrapper-->
    </div>

    <div class="card-columns one-ui-kit-example-container col-md-10">
    	<div class="card" ng-repeat="m in hiphop">
	        <img class="card-img-top" style="width:100%;" ng-src="{{m.img}}" alt="Card image cap">
	        <div class="card-block">
	          <h4 class="card-title">{{m.nombre}}&nbsp;{{m.ap}}</h4>
	          <p class="card-text">{{m.desc}}</p>          
	        </div>
      	</div>
    </div>
</div>